canvas {
    animation-name: example;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow: 1px 1px 38px black;}
    to {box-shadow: 1px 1px 38px lightblue;}
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}